# Pycharm
.idea/

# Pydev
.project
.pydevproject

# Eclipse
.settings/

# Comentarios
config/

# Archivos compilados python
*.pyc

# Archivos de SO
Thumbs.db
*._**
.DS_Store

# Windows launchers
*.exe

# Partidas guardadas
saves/*.save

# Sonidos de ambiente
data/sound/ambience/*.wav

# Total lineas
linec

# Stackdump
*.stackdump
